
* {
    margin: 0;
    padding: 0;
}

:root {
    --cor0: #0012CE;
    --cor1: #8CC2F9;
    --cor2: #d9dd02;
    --cor3: #b40603;
    --cor4: #5F770E;
    --cor5:#850200;
}


body {
/* background-image: linear-gradient(to top,[]); */
background-color: rgb(67, 106, 79);
font-family: 'New Rocker';
}

h1 {
    color: var(--cor2);
    text-shadow: 1px 1px 1px var(--cor3);
    text-align: center;
    margin: 10px auto 10px auto;
}

p {
    /* */
    color:  var(--cor2);
    text-shadow: 1px 1px 1px rgb(82, 53, 6);
}

canvas {
    display: block;
    margin: auto;
    border: 3px #ffffff solid;
    border-radius: 5px;

}

.div-stage {
    position: relative;
    margin: auto;
    width: 524px;
    margin-top: 5px;

}

.div-pontos {
    margin-right: 5px;
    position: absolute;
    right: 0;
}

.div-record {
    margin-left: 5px;
    position: absolute;
    left: 0;
}

.div-footer {
   
}
.div-footer p {
    font-size: 1.4em;
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
    padding-bottom: 20px; 
    color: var(--cor0);
    text-shadow: 1px 1px 1px var(--cor);
 
}



.div-footer a {
    /* text-decoration:underline blue; */
    text-decoration: none;
    color:  var(--cor0);

}


.div-footer a:hover {
    color: var(--cor5);
    transition: .2s;
}


@media (max-width: 500px) {
    h1 {
     display: none;
    }

    canvas {
        margin-top: 100px;
    }

    div-stage {
        position: relative;
        margin: auto;
        width: 356px;
        margin-top: 150px;
    }

    .div-footer p {
        /* width: 200%; */
    }
}
 